body {
  margin: 0px;
  padding: 0px; }

h1 {
  color: white;
  font-family: arial;
  font-size: 20px; }

h2 {
  color: white;
  font-family: arial;
  font-size: 16px; }

h3 {
  color: white;
  font-family: arial;
  font-size: 14px; }

p {
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 12px; }

a {
  color: white;
  font-family: "Montserrat", "sans-serif"; }

.hp {
  background-color: #261032;
  height: 100vh;
  padding: 4rem; }
  .hp_profil {
    position: absolute;
    right: 70px; }
  .hp_title {
    margin-top: 60px;
    margin-bottom: 25px; }
  .hp_notif {
    display: flex;
    background-color: #432752;
    border-radius: 10px;
    padding: 10px 20px; }
    .hp_notif img {
      margin-left: 10px;
      margin-right: 30px; }
    .hp_notif_text_invite {
      margin-bottom: 5px; }
    .hp_notif_text_event {
      margin-top: 0px;
      font-weight: 700;
      font-style: italic;
      font-family: "Montserrat", "sans-serif"; }
  .hp_img {
    margin-right: 20px; }
  .hp_events_card {
    display: inline-block;
    margin: 0 30px 30px 0; }
    .hp_events_card_text-wrapper {
      position: absolute;
      margin: 10px 10px; }
      .hp_events_card_text-wrapper h2 {
        margin-bottom: 5px; }
      .hp_events_card_text-wrapper p {
        margin-top: 0px; }
  .hp_events_card--add {
    background-color: #432752;
    width: 137px;
    height: 206px;
    border-radius: 10px;
    display: flex;
    justify-content: center; }

.event {
  background-color: #261032;
  height: 100%; }
  .event_header {
    background-image: url(/assets/img/party-big.jpg);
    background-repeat: no-repeat;
    height: 200px; }
    .event_header_text-wrapper {
      position: absolute;
      margin: 10px 10px;
      height: 100%;
      width: 100%; }
      .event_header_text-wrapper h1 {
        text-align: center; }
      .event_header_text-wrapper p {
        text-align: center; }
  .event h2 {
    margin-top: 50px;
    font-family: "Montserrat", "sans-serif";
    font-style: italic;
    text-align: center; }
  .event h3 {
    margin: 60px 0 30px 0;
    font-size: 18px; }
  .event_location h3 {
    padding-left: 3rem; }
  .event_participants {
    padding: 0 10rem 0 3rem; }
    .event_participants img {
      width: 40px;
      height: 40px;
      border-radius: 35px;
      margin: 0 15px 15px 0; }
  .event_chat-icon {
    position: fixed;
    top: 600px;
    right: 40px; }
  .event_course {
    padding: 0 3rem; }
    .event_course_searchbar {
      width: 200px;
      background-color: rgba(255, 255, 255, 0.18);
      padding: 5px 15px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .event_course_searchbar p {
        display: inline;
        margin-right: 20px; }
    .event_course_list {
      list-style: none;
      padding: 10px 0 0 0; }
      .event_course_list_item {
        display: inline-block;
        margin-left: 10px; }
        .event_course_list_item--taken {
          color: #6B6B6C;
          text-decoration: line-through; }
  .event_pictures {
    padding: 0 3rem; }
    .event_pictures_pic {
      width: 100px;
      border-radius: 500px;
      margin: 0 20px 20px 0; }
    .event_pictures_add {
      width: 100px;
      height: 100px;
      background-color: #432752;
      border-radius: 70px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .event_pictures_add img {
        width: 50px; }

