$black : rgb(22, 22, 22);
$white : rgb(255, 255, 255);



$background-color: #261032;
$primary-color: #432752;
$secondary-color : #4E3C58;

$primary-font : 'Arial', sans-serif;
$secondary-font : 'Montserrat', 'sans-serif';
$font-size-base : 16px;

$section-space:5rem;
$gutters:11.25rem;